extends layout

block content
    include menu.pug

    h1 Decrypt the message
    form#form(action="/kakao/message/friends/decryption" method="POST")
        .form-group
            label(for="tokenID") Token ID:
            input.form-control(type="text" name="tokenID" placeholder="Type the token id...")
            label(for='encrypted') Encypted Message:
            textarea.form-control(name="encrypted" rows="5" placeholder="Type the encrypted message...")
        button.btn.btn-primary(type="submit") Submit
    
    if decrypted.length !== 0
        .card
            h5.card-header Decrypted message
            .card-body
                .card-text #{decrypted}