extends layout

block content
    .text-center
        h1 Sharp Messenger
        h2 KakaoTalk Social Login
        a(href='/kakao/auth')
            img.algin-middle.rounded(src='/images/kakao_login_large_wide.png')