extends layout

block content
    include menu.pug

    h1 Send to me
    form(action="/kakao/message" method="POST")
        .form-group
            label(for='content') Message
            textarea.form-control(name="content" rows="5" placeholder="Type the message...")
        button.btn.btn-primary(type="submit") Submit