<h1>나에게 보내기</h1>
<form action="/kakao/message" method="POST"> 
    <textarea placeholder="메시지 입력" id="content" name="content"></textarea>
    <input type="submit" value="OK" />
</form>

<br>

<div>
    <a href="/kakao/users/friends">친구 목록</a>
</div>
<p><%= nick %></p>
<br>
<h1>친구에게 보내기</h1>
<form action="/kakao/message/friends" method="POST">
    <textarea placeholder="메시지 입력" id="content" name="content"></textarea>
    <input type="hidden" id="uuid" name="uuid" value=<%= uuid %> />
    <input type="submit" value="OK" />
</form>
<br>
<h1>문자 내용 해독하기</h1>
<form action="/kakao/message/friends/decryption" method="POST">
    <textarea placeholder="암호화된 문자 내용 입력" id="encrypted" name="encrypted"></textarea>
    <input type="hidden" id="uuid" name="uuid" value=<%= uuid %> />
    <input type="submit" value="OK" />
</form>