<header>
  <h1>
    카카오톡 내용 증명
  </h1>

  <div>
    <a href='/kakao/auth/logout'>카카오 계정 로그아웃</a>
  </div>

  <br>

  <div>
    <a href="/kakao/auth"><img src='/images/kakao_login_large_wide.png' /></a>
  </div>

  <hr>

</header>
